.getInTouch {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0;
}

.getInTouch::before {
    content: url('../img/circulo.png');
    filter: grayscale(100%);
    opacity: 0.5;
    position: absolute;
    left: 55%;
    bottom: 68%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    width: 40px;
    height: 40px;
    transform: scale(0.2);
}

.getInTouch::before {
    content: url('../img/circulo.png');
    filter: grayscale(100%);
    opacity: 0.5;
    position: absolute;
    left: 55%;
    bottom: 68%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    width: 40px;
    height: 40px;
    transform: scale(0.2);
}

.getInTouch::after {
    content: url('../img/circulo.png');
    filter: grayscale(100%);
    opacity: 0.5;
    position: absolute;
    left: 2%;
    bottom: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    width: 40px;
    height: 40px;
    transform: scale(0.2);
}

.centrado {
    text-align: center;
}

.pGetInTouch {
    align-self: center;
    margin-top: 10px;
    width: 60%;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 60px;
    background-image: url(../img/);
}

.h2Contacto {
    font-family: 'roboto';
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    margin-top: 0px;
    padding-top: 30px;
}

.cuadradoContacto {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    margin-bottom: 30px;
}

.labelContacto {
    margin: 0 60px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;

}

.inputContacto {
    margin: 0 60px;
    margin-bottom: 5px;
    width: 75%;
    border-radius: 10px;
    border: 1px gray solid;
    filter: opacity(50%);
    padding: 10px 20px;
}

.buttonContacto {
    width: 75%;
    margin: 30px 60px;
    margin-bottom: 90px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    border: black 2px;
    cursor: pointer;
}

.pButton {
    font-family: 'roboto';
    font-size: 15px;

}

.buttonContacto:hover {
    background-color: lightgray;
    color: black;
    border: gray 2px;

}