.testimonial {
    background-color: white;
    padding-left: 65px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.containerTestimonial {
    display: flex;
    margin-top: 40px;
}

.imgTestimonial {
    height: 300px;
    margin-right: 80px;
    margin-left: 0;
}

.h3Testimonial {
    font-family: 'arapey';
    font-size: 20px;
    font-weight: 550;
    width: 80%;
}

.oscurito {
    font-weight: 600;
    margin: 0;
    margin-top: 30px;
}

.pTestimonial {
    margin-top: 10px;
    width: 90%;
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.big {
    font-size: 20px;
    background-color: white;
}

.comillas {
    color: gray;
}

.contenedorComillas {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: row;
}

.comillasTestimonial {
    font-size: 100px;
    padding: 0;
    margin: 0;
    padding-left: 60px;

}

.containerClienteFlechas {
    display: flex;
    flex-direction: row;
    height: 40px;

}

.textoCliente {
    width: 300px;
}

.divFlechitas {
    width: 50%;
    margin-left: 80px;
    margin-top: 15px;
    margin-right: 0;
    padding-left: 20px;

}

.fondoBlanco {
    background-color: white;

}